[submodule "golang"]
	path = golang
	url = git@github.com:gabo1208/golang.git
[submodule "c-cpp"]
	path = c-cpp
	url = git@github.com:gabo1208/c-cpp
[submodule "haskell"]
	path = haskell
	url = git@github.com:gabo1208/haskell
[submodule "python"]
	path = python
	url = git@github.com:gabo1208/python
[submodule "js/react"]
	path = js/react
	url = git@github.com:gabo1208/react
[submodule "js/angular"]
	path = js/angular
	url = git@github.com:gabo1208/angular
[submodule "js/apollo-express-mongo"]
	path = js/apollo-express-mongo
	url = git@github.com/gabo1208:apollo-express-mongo
[submodule "js/react-native"]
	path = js/react-native
	url = git@github.com:gabo1208/react-native
[submodule "rust"]
	path = rust
	url = git@github.com:gabo1208/rust.git
[submodule "raspberry-pi"]
	path = raspberry-pi
	url = git@github.com:gabo1208/raspberry-pi.git
[submodule "knative-go-chat-app"]
	path = knative-go-chat-app
	url = git@github.com:gabo1208/knative-go-chat-app.git
[submodule "java"]
	path = java
	url = git@github.com:gabo1208/java.git
[submodule "earlang"]
	path = earlang
	url = git@github.com:gabo1208/earlang.git
